.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;           /* Centrado horizontal */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formContainer label {
    margin: 8px 0 4px;
    font-size: 14px;
    
}

.formContainer input {
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formContainer button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.errors {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}